html{
    font-family:sans-serif;
}

header{
    text-align: center;
    margin: auto;
    background-color: rgba(37, 23, 23, 0.829);
}

.wallpaper{
    background-image: url(./img/papel_parede.png);
    background-attachment:local;
    background-size: cover;
    height: 75vh;    
}

.header-logo{
    width: 10em;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

#hamburguer{
    background-color: rgb(190, 149, 72);
    color: rgba(37, 23, 23, 0.829);
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
}

.header_nav{
    background-color:rgba(37, 23, 23, 0.829);
    display: none;
}

.header_nav.show{
    display: block;
}

ul{
    margin: 0;
}

.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
}

.header_nav a{
    color: rgb(190, 149, 72);
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover{
    background-color: color-mix(in srgb, rgb(190, 149, 72), #ffffff 30%);
    color: rgb(37, 23, 23, 0.829);
}

footer{
    background-color: rgba(37, 23, 23, 0.829);
    text-align: center;
    font-size: 1.5em;
    padding: 0.1em 0 0.5em 0;
}

.icone-footer{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-content:center;
    text-align: center;
    padding: 0.1em 0 0.2em 0;
    display: flex;
    gap: 1em;
} 

.tamanho{
    width: 4vh;
    height: 4vh;
}

footer div img:hover{
    transform: scale(1.1);
}


@media screen and (min-width: 48em){

    #hamburguer{
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(43, 33, 33, 0.829);
    }

    .header-logo{
        margin-left: 2em;
    }

    .header_nav{
        display: block;
    }

    .header_nav ul{
        margin-right: 2em;
        font-size: 0.9em;
    }

    .header_nav li{
        display: inline-block;
    }

    .header_nav a{
        border-radius: 5px;
    }

    .header_nav a:hover{
        background-color: rgb(190, 149, 72);
        color: #ffffff;
        background-color: rgba(43, 33, 33, 0.829);
    }
    
}    

@media screen and (min-width: 48em){

    .icone-footer{
        flex-direction: row;
        justify-content: center;
        gap:1.5em;
    }

}

